<?php
// Configure relationships.
if (isset($_ENV['PLATFORM_RELATIONSHIPS'])) {
  $relationships = json_decode(base64_decode($_ENV['PLATFORM_RELATIONSHIPS']), TRUE);
  if (empty($databases['default']) && !empty($relationships)) {
    foreach ($relationships as $key => $relationship) {
      $drupal_key = ($key === 'database') ? 'default' : $key;
      foreach ($relationship as $instance) {
        if (empty($instance['scheme']) || ($instance['scheme'] !== 'mysql' && $instance['scheme'] !== 'postgresql')) {
          continue;
        }
        $database = [
          'driver' => $instance['scheme'],
          'database' => $instance['path'],
          'username' => $instance['username'],
          'password' => $instance['password'],
          'host' => $instance['host'],
          'port' => $instance['port'],
        ];
        if (!empty($instance['query']['compression'])) {
          $database['pdo'][PDO::MYSQL_ATTR_COMPRESS] = TRUE;
        }
        if (!empty($instance['query']['is_master'])) {
          $databases[$drupal_key]['default'] = $database;
        }
        else {
          $databases[$drupal_key]['slave'][] = $database;
        }
      }
    }
  }
}

// Configure private and temporary file paths.
if (isset($_ENV['PLATFORM_APP_DIR'])) {
  if (!isset($conf['file_private_path'])) {
    $conf['file_private_path'] = $_ENV['PLATFORM_APP_DIR'] . '/private';
  }
  if (!isset($conf['file_temporary_path'])) {
    $conf['file_temporary_path'] = $_ENV['PLATFORM_APP_DIR'] . '/tmp';
  }
}

// Import variables prefixed with 'drupal:' into $conf.
if (isset($_ENV['PLATFORM_VARIABLES'])) {
  $variables = json_decode(base64_decode($_ENV['PLATFORM_VARIABLES']), TRUE);

  $prefix_len = strlen('drupal:');
  $drupal_globals = array('cookie_domain', 'installed_profile', 'drupal_hash_salt', 'base_url');
  foreach ($variables as $name => $value) {
    if (substr($name, 0, $prefix_len) == 'drupal:') {
      $name = substr($name, $prefix_len);
      if (in_array($name, $drupal_globals)) {
        $GLOBALS[$name] = $value;
      }
      else {
        $conf[$name] = $value;
      }
    }
  }
}

// Set a default Drupal hash salt, based on a project-specific entropy value.
if (isset($_ENV['PLATFORM_PROJECT_ENTROPY']) && empty($drupal_hash_salt)) {
  $drupal_hash_salt = $_ENV['PLATFORM_PROJECT_ENTROPY'];
}

// Configure the Solr server.
if (isset($_ENV['PLATFORM_RELATIONSHIPS'])) {
  $relationships = json_decode(base64_decode($_ENV['PLATFORM_RELATIONSHIPS']), TRUE);

  foreach ($relationships as $relationship_name => $relationship_info) {
    // Valid Solr relationships have 'path'.
    if (!empty($relationship_info[0]['path'])) {
      $core = NULL;

      // Valid Solr paths start with '/solr' and if it is not a default path it
      // also includes the name of the Solr core.
      if (preg_match('/^solr((\/)(.+))?/s', $relationship_info[0]['path'], $matches)) {

        // Default Solr 4.10 config may not return the full path with the name
        // of the Solr core.
        if (empty($matches[3])) {
          $core = 'collection1';
        }
        else {
          $core = $matches[3];
        }

        // Use the relationship name as the Solr server name, defaults to the
        // Drupal 'default_solr_server' default sever.
        $solr_server_name = $relationship_info[0]['rel'];
        if ($solr_server_name == 'solr') {
          $solr_server_name = 'default_solr_server';
        }

        // Sets the Search API server configuration.
        $config['search_api.server.' . $solr_server_name]['backend_config']['connector_config']['host'] = $relationship_info[0]['host'];
        $config['search_api.server.' . $solr_server_name]['backend_config']['connector_config']['port'] = $relationship_info[0]['port'];
        $config['search_api.server.' . $solr_server_name]['backend_config']['connector_config']['path'] = '/solr';
        $config['search_api.server.' . $solr_server_name]['backend_config']['connector_config']['core'] = $core;
      }
    }
  }
}

