language: php

sudo: false

php:
  - 5.5
  - 5.6
  - hhvm
  - 7.0
  - 7.1

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.drush/cache

install:
  - composer install --no-interaction

script:
  - 'curl -H "Accept: text/plain" https://security.sensiolabs.org/check_lock -F lock=@./composer.lock'
  - ./vendor/bin/phpunit -c ./phpunit.xml --coverage-text --exclude-group slow
