parameters:
	level: 7
	paths:
		- dist
		- resources
		- src
		- tests
	scanFiles:
		- config/cache/container.php
		- dist/installer.php
	excludePaths:
		- dist/installer.php

includes:
	- phpstan-baseline.neon
