#!/usr/bin/env bash
# Platform.sh CLI shell configuration.

# Enable auto-completion.
HOOK=$(platform _completion -g -p platform)
# Try two commands.
# See https://github.com/stecman/symfony-console-completion/issues/12
echo "$HOOK" | source /dev/stdin
source <(echo "$HOOK")
