# SymfonyCloud (PHP) CLI shell configuration for Bash and ZSH.

# Enable auto-completion.
if HOOK=$(symfony-cloud _completion -g -p symfony-cloud 2>/dev/null); then
    . <(echo "$HOOK") 2>/dev/null
fi
