#!/usr/bin/env bash
# Magento CLI shell configuration.

# Enable auto-completion.
if HOOK=$(magento-cloud _completion -g -p magento-cloud 2>/dev/null); then
    # Try two commands.
    # See https://github.com/stecman/symfony-console-completion/issues/12
    echo "$HOOK" | source /dev/stdin
    source <(echo "$HOOK") 2>/dev/null
fi

# Useful aliases.
alias mgc=magento-cloud
