#!/usr/bin/env bash
# SensioCloud CLI shell configuration.

# Enable auto-completion.
if HOOK=$(sensiocloud _completion -g -p sensiocloud 2>/dev/null); then
    # Try two commands.
    # See https://github.com/stecman/symfony-console-completion/issues/12
    echo "$HOOK" | source /dev/stdin
    source <(echo "$HOOK") 2>/dev/null
fi
