# Platform.sh CLI shell configuration.
#
# N.B. This is intended to be sourced by any shell, so mustn't contain Bashisms.

# Test for Bash or ZSH. Include shell-config-bash.rc if it exists.
if [ "$BASH" ] || [ "$SHELL" = /bin/zsh ] || [ "$ZSH" ]; then
    if [ -f "$HOME/.platformsh/shell-config-bash.rc" ]; then
        . "$HOME/.platformsh/shell-config-bash.rc" 2>/dev/null
    fi
fi
