# Metadata about the CLI application itself.
application:
  name: 'Platform.sh CLI'
  version: '4.0.0-dev'
  executable: 'platform'
  package_name: 'platformsh/cli'
  installer_url: 'https://platform.sh/cli/installer'
  manifest_url: 'https://platform.sh/cli/manifest.json'
  user_config_dir: '.platformsh'
  user_state_file: '.platformsh/state.json'
  env_prefix: 'PLATFORMSH_CLI_'
  tmp_sub_dir: 'platformsh-cli-tmp'
  github_repo: 'platformsh/platformsh-cli'
  release_branch: 'master'

  # The default interactive login method: either 'browser' or 'password'.
  # This can be overridden in the user config file.
  login_method: browser

  # The default timezone for times displayed or interpreted by the CLI.
  # An empty (falsy) value here means the PHP or system timezone will be used.
  # For a list of timezones, see: http://php.net/manual/en/timezones.php
  # This can be overridden in the user config file.
  timezone: ~

  # The default date format string. This can be overridden in the user config
  # file, or  by the --date-fmt option. For a list of formats, see:
  # http://php.net/manual/en/function.date.php
  date_format: c

  # Disabled commands (a list of full command names).
  disabled_commands: []

  # Experimental commands (a list of full command names). Enable these in the
  # user config file: the array 'enable_commands' inside the 'experimental'
  # section.
  experimental_commands: []

# Configuration for working with projects locally.
local:
  local_dir: '.platform/local'
  archive_dir: '.platform/local/build-archives'
  build_dir: '.platform/local/builds'
  dependencies_dir: '.platform/local/deps'
  project_config: '.platform/local/project.yaml'
  project_config_legacy: '.platform-project'
  shared_dir: '.platform/local/shared'
  web_root: '_www'

  # This can be overridden by the {application.env_prefix}COPY_ON_WINDOWS env
  # var, or via the user config file.
  copy_on_windows: false

# Details about the cloud service that the CLI works with.
service:
  name: 'Platform.sh'
  env_prefix: 'PLATFORM_'
  header_prefix: 'X-Platform'
  app_config_file: '.platform.app.yaml'
  project_config_dir: '.platform'
  docs_url: 'https://docs.platform.sh'
  docs_search_url: 'https://www.google.com/search?q=site%3Adocs.platform.sh%20{{ terms }}'
  accounts_url: 'https://accounts.platform.sh'
  pricing_url: 'https://platform.sh/pricing'
  default_from_address: 'noreply@platform.sh'
  api_token_help_url: 'https://docs.platform.sh/gettingstarted/cli/api-tokens.html'
  available_regions:
    - eu-2.platform.sh
    - us-2.platform.sh
    - au.platform.sh
    - ca-1.platform.sh
  available_plans:
    - development
    - standard
    - medium
    - large

# Configuration relating to API calls.
# This can be overridden in the user config file.
api:
  oauth2_client_id: 'platform-cli'
  projects_ttl: 3600
  environments_ttl: 600
  users_ttl: 3600

  # Overridden by {application.env_prefix}ACCOUNTS_API env var.
  accounts_api_url: 'https://accounts.platform.sh/api/platform/'

  # Overridden by {application.env_prefix}DEBUG env var.
  debug: false

  # Overridden by {application.env_prefix}DISABLE_CACHE env var.
  disable_cache: false

  # Overridden by {application.env_prefix}SKIP_SSL env var.
  skip_ssl: false

  # Overridden by {application.env_prefix}SESSION_ID env var.
  session_id: 'default'

# How the CLI detects and configures Git repositories as projects.
detection:
  git_remote_name: 'platform'
  git_domain: 'platform.sh'
  site_domains: ['platform.sh', 'platformsh.site']

  # Domain of a unified-UI instance (beta).
  ui_domain: 'ui.platform.sh'

# Automatic updates.
# This can be overridden in the user config file.
updates:
  # The interval between automatic update checks (in seconds). 604800 = 7 days.
  check_interval: 604800

  # Overridden by {application.env_prefix}UPDATES_CHECK env var.
  check: true
