name: CI

on:
  push:
    branches:
      - main
      - 5.x
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "cache_dir=$(composer config cache-files-dir)" >> $GITHUB_ENV

    - uses: actions/cache@v4
      with:
        path: ${{ env.cache_dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Install dependencies
      run: |
        composer install --no-dev --no-interaction --no-scripts
        cd vendor-bin/box
        composer install --no-interaction

    - name: Symlink vendor/bin/box
      run: |
       mkdir -p vendor/bin
       ln -s "$(realpath vendor-bin/box/vendor/bin/box)" vendor/bin/box

    - name: Build platform.phar
      env:
        CI_COMMIT_SHA: ${{ github.sha }}
        CI_COMMIT_REF_NAME: ${{ github.ref_name }}
      run: |
        CI_COMMIT_SHORT_SHA=$(echo $CI_COMMIT_SHA | head -c8)
        ./bin/platform self:build --no-composer-rebuild --yes --replace-version "$CI_COMMIT_REF_NAME"-"$CI_COMMIT_SHORT_SHA" --output platform.phar

    - name: Lint PHP files
      run: make lint-php-cs-fixer lint-phpstan

    - name: Run PHPUnit tests
      run: |
        composer install --no-interaction --no-scripts
        ./scripts/test/unit.sh

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.25
        cache-dependency-path: cli/go.sum

    - name: Lint Go files
      run: make lint-gofmt

    - name: Run integration tests
      run: |
        export TEST_CLI_PATH=$(realpath "./platform.phar")
        chmod +x "$TEST_CLI_PATH"
        cd go-tests
        go test ./... -v

    - uses: actions/upload-artifact@v4
      with:
        name: cli-phar
        path: platform.phar
